﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @RenderSection("styles", false)
    <meta name="viewport" content="width=device-width" />
    @RenderSection("scripts", false)
    <title>Login</title>
</head>
<body onload="Main();b()" background="~/back3.jpg">
    <div>
        @RenderBody()
    </div>
</body>
</html>
