﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @RenderSection("styles",false)
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body background="~/back3.jpg">
    <div>
        @RenderBody()
    </div>

    <form method="post" action="/Assignment4/Signout">
        <input type="submit" name="btnSignOut" id="btnSignOut" value="Sign Out" class="cssclassl" size="40" /><br><br><br>
    </form>
</body>
</html>
