﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @RenderSection("styles",false)
    <meta name="viewport" content="width=device-width" />
    <title>New Password</title>
</head>
<body background="~/back4.jpg">
    <div>
        @RenderBody()
    </div>
</body>
</html>
