﻿
@{
    Layout = "~/Views/Shared/Layout3.cshtml";
    ViewBag.Title = "Email";
}

<form action="/Assignment4/NewPass" method="POST" class="login-panel1">
    <br>

    <center><h1><b>Reset Password</b></h1></center>
    <div class="clear">

        <br>
        <input type="text" name="txtUser" id="txtUser" class="simple-input" value="@ViewBag.Login" placeholder="Enter User Name" size="37" />
        <br>
        <input type="text" name="txtUserName" id="txtUserName" value="@ViewBag.Email" class="simple-input" placeholder="Enter Your E-mail Address" size="37" />
        <br>
        <span style="color: black;margin-left: 150px;">@ViewBag.Msg</span>

    </div>

    <input type="submit" name="btnLogin" id="btnLogin" value="Reset Password" class="cssclass2" /><br><br><br>

</form>

@section styles{
<style type="text/css">
    .simple-input {
        display: block;
        margin-left: 150px;
        padding: 10px;
        border: 2px solid #2F4F4F;
        border-radius: 5px;
        color: #333;
        transition: all 0.3s ease-out;
    }
    .cssclass2 {
        margin-left: 150px;
        font-size: 15px;
        font-weight: bold;
        padding: 14px 95px;
        border: 2px solid #2F4F4F;
        border-radius: 4px;
        background: #D3D3D3;
        color: black;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .login-panel1 {
        margin: 100px;
        position: absolute;
        top: 10px;
        right: 18%;
        width: 600px;
        height: 300px;
        padding: 10px 15px 5px 15px;
        background: #708090;
        font-size: 10pt;
        color: black;
    }
</style>


}
