﻿
@{
    Layout = "~/Views/Shared/Layout2.cshtml";
    ViewBag.Title = "Home";
}

<h2>Welcome</h2>
<b>@Session["UserName"]</b>
<br><br /><br /><br /><br /><br />
@section styles{
    <style type="text/css">
        .cssclassl {
            margin-left: 0px;
            margin-right: 35px;
            font-size: 15px;
            font-weight: bold;
            padding: 2px 8px;
            border: 2px solid #2F4F4F;
            border-radius: 4px;
            background: #D3D3D3;
            color: black;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
</style>


}

