﻿
@{
    Layout = "~/Views/Shared/Layout1.cshtml";
    ViewBag.Title = "Login";
}


<form class="container1">

    <b>Home  |  About Us  |  FAQ's  |  Contact Us |||||</b>

</form>
<form action="/Assignment4/Login" method="POST" id="login-panel">
    <br>

    <center><img src="~/icon.png" height="70px" width="70px"></center>

    <center><h1><b>LOGIN PANEL</b></h1></center>

    <div class="clear">
        <br><input type="text" name="txtUserName" id="txtUserName" value="@ViewBag.UserName" class="simple-input" placeholder="User Name" size="37" /><br>
    </div>

    <div class="clear">
        <input type="password" name="txtPassword" id="txtPassword" class="simple-input" placeholder="Password" size="37" /><br>
    </div>

    <span style="color: black;margin-left: 150px;">@ViewBag.Msg</span>


    <input type="submit" name="btnLogin" id="btnLogin" value="Sign In" class="cssclass" size="40" /><br><br><br>

    <!-- Trigger/Open The Modal -->

</form>

    <a href="/Assignment4/Email"><input type="submit" name="test" value="Forgot Password?" style="border-color: transparent;color: black;background-color: transparent;"></a>




<div class="classs">
    <h5>Don't have an account? </h5>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn" class="cssclass1">Sign Up</button>
</div>

<form method="post" action="/Assignment4/Signup">
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content" style="background-color: #b3d9ff;">
            <span class="close">&times;</span>
            <h1 style="text-align: center;">Register</h1>
            User Name:<br> <input type="text" name="txtUserName1" /><br><br>
            Login:<br> <input type="text" name="txtUserLogin1" /><br><br>
            Email:<br> <input type="text" name="emailtxt" /><br><br>
            Password:<br> <input type="password" name="txtPassword1" /><br><br>
            Confirm Password:<br> <input type="password" name="btnSignUp" /><br><br>

            <input type="submit" />
        </div>
    </div>
</form>

@section scripts{
    <script>
        function Main() {
            var b1 = document.getElementById('btnLogin');
            b1.onclick = function () {
                var v1 = document.getElementById('txtUserName');
                var v2 = document.getElementById('txtPassword');
                if (v1.value == '') {
                    alert('User Name cant be empty!');
                    return false;
                }
                if (v2.value == '') {
                    alert('Password cant be empty!');
                    return false;
                }
                return true; //Returning true will continue submitting
            };//end of onclick
        }


        function b() {
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        function b1() {
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }


    </script>

}

@section styles
{
    <style type="text/css">
        a {
            text-decoration: none;
        }

        #demo-header {
            width: 980px;
            margin: 0 auto;
            position: relative;
        }

        #login-link {
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            background: #2a2a2a;
            padding: 5px 15px 5px 15px;
            color: #FFF;
        }

        #login-panel {
            margin: 100px;
            position: absolute;
            top: 10px;
            right: 18%;
            width: 600px;
            height: 500px;
            padding: 10px 15px 5px 15px;
            background: #708090;
            font-size: 10pt;
            color: black;
        }

        .login-panel1 {
            margin: 100px;
            position: absolute;
            top: 10px;
            right: 18%;
            width: 600px;
            height: 300px;
            padding: 10px 15px 5px 15px;
            background: #708090;
            font-size: 10pt;
            color: black;
        }

        .login-panel2 {
            margin: 100px;
            position: absolute;
            top: 10px;
            right: 18%;
            width: 600px;
            height: 400px;
            padding: 10px 15px 5px 15px;
            background: #708090;
            font-size: 10pt;
            color: black;
        }

        .clear {
            clear: both;
            padding: 0px;
        }

        .simple-input {
            display: block;
            margin-left: 150px;
            padding: 10px;
            border: 2px solid #2F4F4F;
            border-radius: 5px;
            color: #333;
            transition: all 0.3s ease-out;
        }

            .simple-input:hover {
                border-radius: 8px;
            }

            .simple-input:focus {
                outline: none;
                border-radius: 8px;
                border-color: black;
            }

        label {
            line-height: 1.8;
        }

        .cssclass {
            margin-left: 150px;
            font-size: 15px;
            font-weight: bold;
            padding: 14px 128px;
            border: 2px solid #2F4F4F;
            border-radius: 4px;
            background: #D3D3D3;
            color: black;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }


        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .container1 {
            width: 100%;
            height: 10px;
            border: 4px solid gray;
            padding: 1.5em;
            color: black;
            background-color: #708090;
            text-align: right;
            margin: 0px;
        }



        .cssclass1 {
            margin-left: 20px;
            margin-right: 35px;
            font-size: 13px;
            font-weight: bold;
            padding: 2px 8px;
            border: 2px solid #2F4F4F;
            border-radius: 4px;
            background: #D3D3D3;
            color: black;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }


        .cssclass2 {
            margin-left: 150px;
            font-size: 15px;
            font-weight: bold;
            padding: 14px 95px;
            border: 2px solid #2F4F4F;
            border-radius: 4px;
            background: #D3D3D3;
            color: black;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }


        .cssclass3 {
            margin-left: 150px;
            font-size: 15px;
            font-weight: bold;
            padding: 12px 135px;
            border: 2px solid #2F4F4F;
            border-radius: 4px;
            background: #D3D3D3;
            color: black;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }


        .classs {
            text-align: right;
        }

        .classs1 {
            font-weight: bold;
            margin-left: 250px;
        }

        .cssclassl {
            margin-left: 0px;
            margin-right: 35px;
            font-size: 15px;
            font-weight: bold;
            padding: 2px 8px;
            border: 2px solid #2F4F4F;
            border-radius: 4px;
            background: #D3D3D3;
            color: black;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        .cssclassll {
            margin-left: 150px;
            margin-right: 80px;
            font-size: 15px;
            font-weight: bold;
            padding: 2px 8px;
            border: 2px solid #2F4F4F;
            border-radius: 4px;
            background: #D3D3D3;
            color: black;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
    </style>
}





