﻿
@{
    ViewBag.Title = "NewPass";
    Layout = "~/Views/Shared/Layout4.cshtml";
}


<form action="/Assignment4/GoHome" method="POST" class="login-panel2">
    <br>

    <center><h1><b>New Password</b></h1></center>
    <div class="clear">
        <br><input type="text" name="txtUserName" id="txtUserName" value="@ViewBag.Login" class="simple-input" placeholder="Enter User Name" size="39.3" /><br>
    </div>

    <div class="clear">
        <br><input type="text" name="txtUserPassword" value="@ViewBag.Code" id="txtUserName" class="simple-input" placeholder="Enter Code" size="39.3" />  <br>
    </div>

    <div class="clear">
        <br><input type="password" name="txtUserNewPassword" id="txtUserName" class="simple-input" placeholder="Enter New Password" size="39.3" /><br>
    </div>
    <span style="color: black;margin-left: 150px;">@ViewBag.Msg</span>

    <input type="submit" name="btnLogin" id="btnLogin" value="Update" class="cssclass3" /><br><br><br>

</form>
@section styles{
    <style type="text/css">
        .simple-input {
            display: block;
            margin-left: 150px;
            padding: 10px;
            border: 2px solid #2F4F4F;
            border-radius: 5px;
            color: #333;
            transition: all 0.3s ease-out;
        }

        .cssclass3 {
            margin-left: 150px;
            font-size: 15px;
            font-weight: bold;
            padding: 12px 135px;
            border: 2px solid #2F4F4F;
            border-radius: 4px;
            background: #D3D3D3;
            color: black;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        .login-panel2 {
            margin: 100px;
            position: absolute;
            top: 10px;
            right: 18%;
            width: 600px;
            height: 400px;
            padding: 10px 15px 5px 15px;
            background: #708090;
            font-size: 10pt;
            color: black;
        }
    </style>
}

